body {
    background-color: #2C3E50;
    color: #ECF0F1;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    text-shadow: 8px 8px 8px rgba(122, 16, 30, 0.5)
}

form {
    background-color: #34495E;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid rgba(122, 16, 30, 0.5);
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #2C3E50;
    color: #ECF0F1;
    height: 30px;
}

input[type="submit"], button {
    background-color: #E74C3C;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: #C0392B;
}

button:hover{
    background-color: transparent;
    border: 1px solid #C0392B;
}

p{
    color: #a29ad1;
    font-size: 20px;
}

